h2{text-align: center}
h6{text-align: center}


body {
    font-family: "Open Sans", sans-serif;
    background-color: #12395f;
    
}



.table {
    width: 50% !important; /*Importante manter o !important rs */
    margin: auto;
}


header{
    background: #0c0b0b;
    padding: 20px 0;
}

.texto{
    margin: 10px;
}
 




